In [1]:
a = 5
b = 8.4

In [2]:
print(a+b)

13.4

In [3]:
# We want arrays!!!

a = [1,2,3,4,5,6,7,8,8,120,123123,41,24,12,4,12,312,3,12,3]

In [4]:
a[4]

5

In [5]:
a[4:9]

[5, 6, 7, 8, 8]

In [6]:
a[:7]

[1, 2, 3, 4, 5, 6, 7]

In [7]:
b = [a[4],a[9]]

b

[5, 120]

In [8]:
a = [12, 24.56, 'yadayada']

In [9]:
a[2]

'yadayada'

In [10]:
a[1]

24.56

In [19]:
# Range

a = range(10)
a[9]

9

In [20]:
for i in range(10):
    
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(10):

    print(i,i*i,i*i*i) # notice the indentation 
    print('next \nrest')
    
print('end of loop')

0 0 0
next
rest
1 1 1
next
rest
2 4 8
next
rest
3 9 27
next
rest
4 16 64
next
rest
5 25 125
next
rest
6 36 216
next
rest
7 49 343
next
rest
8 64 512
next
rest
9 81 729
next
rest
end of loop

In [31]:
c = [1,2,3,4,5,6,7,8,9,1213,12,31,23,12,3]
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1213, 12, 31, 23, 12, 3]

In [32]:
len(c)

15

In [33]:
for i in range(len(c)):
    
    c[i] = c[i]+1
    
print(c)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 1214, 13, 32, 24, 13, 4]

In [36]:
c[2] = c[2]+1

In [37]:
print(c)

[2, 3, 5, 5, 6, 7, 8, 9, 10, 1214, 13, 32, 24, 13, 4]

In [40]:
for i in range(2,10):
    
    c[i]=c[i]+1
    
print(c)

[2, 3, 7, 7, 8, 9, 10, 11, 12, 1215, 13, 32, 24, 13, 4]

In [44]:
for i in range(2,10,3):
    
    print(i)

2
5
8

In [45]:
for i in range(11):
    
    print(11-i)

11
10
9
8
7
6
5
4
3
2
1

In [52]:
for i in range(11,0,-1):
    
    print(i)

11
10
9
8
7
6
5
4
3
2
1

I can write anything I want

# Next tutorial

## Python Libraries

### 1. Numpy
### 2. Matplotlib
### 3. Pandas
### 4. Scipy

lahsbdlajhsbdjlhsqabdjhla

$$ n(\omega) = e^{-\frac{E}{k_b T}}$$

You can write equations also $ n(\omega) = e^{-\frac{E}{k_b T}}$

##